/*body{
    background-color: blueviolet;
}*/
.header-principal{
display:flex;
flex-direction: row;
justify-content:space-between;
align-items: center;
width: 100%;
height:10vh;
background-color: rgb(230, 129, 47);
border-radius: 5px 5px 5px 5px;
}
.body-color{
background-color: bisque;
}
.div-log{
font-weight: bold;
font-size:2rem;
width:21%;
color:aliceblue;
display:flex;
flex-direction:row;
justify-content: space-around;
align-items:center;
font-family: 'Barlow', sans-serif;
}
.imagen{
width:30%;
height:10vh;
border-radius: 0px 50px 0px 50px;
}
.buscador{
width:20%;
color:aliceblue;
font-family: 'Barlow', sans-serif;
}
.nav-Explo{

width:25%;
display:flex;
flex-direction:row;
justify-content: space-around;
align-items:center;
font-family: 'Barlow', sans-serif;
}
a{
    text-decoration:none;
    color: rgb(255, 252, 250);
}
/*corregir */
.main-selec{
width:100%;
}
.titulo{
display: flex;
align-items:center,center;
justify-content: center;
font-size:4rem;
width:100%;
height:16vh;
font-family: 'Oswald', sans-serif;
color: rgb(253, 145, 4);
}
.contexto{
display:flex;
flex-direction: row;
justify-content:space-around;
align-items: center;
width:100%;
height:6vh;
color: rgb(228, 133, 89);
background-color: rgb(207, 187, 148);
border-radius: 5px 5px 5px 5px ;
font-family: 'Oswald', sans-serif;
}
.textos{
width:100%;

display:flex;
flex-direction: row;
justify-content:space-around;
align-items: center;
/*background-color: blueviolet;*/
}
.texto1{
    width:26%;
    height: 20vh;
   background-color: rgb(228, 190, 110);
   border-radius: 5px 5px 5px 5px;
}
.texto2{
    width:26%;
    height: 20vh;
    background-color: rgb(228, 190, 110);
    border-radius: 5px 5px 5px 5px;
}
.texto3{
    width:26%;
    height: 20vh;
    background-color: rgb(228, 190, 110);
    border-radius: 5px 5px 5px 5px;
}
.reproductor{
width:100%;
background-color: rgb(211, 124, 18);
}
.tvideo{
width:100%;

background-color: brown;
}
.video1{
width:50;
height:48;
background-color: blueviolet;
}
.lvideos{
color: blue;
background-color: rgb(117, 49, 3);
}

.Flex-container{
    color: blue;
    justify-items: center;
    border: 1px solid black;
    background-color: aquamarine;
    padding:20px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 60%;
    height: 8%;
    margin:0 auto;
}
.Caja{
    
    margin: 10px;
    text-align: center;
    line-height:  120 px;
    height: 120px;
    width: 120px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(126, 101, 101);
    background-color: azure;
}
.Caja1{
    margin: 10px;
    text-align: center;
    line-height:  120 px;
    height: 120px;
    width: 120px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(126, 101, 101);
    background-color: azure;
}
.Caja2{
    margin: 10px;
    text-align: center;
    line-height:  120 px;
    height: 120px;
    width: 120px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(126, 101, 101);
    background-color: azure;
}
.Caja3{
    margin: 10px;
    text-align: center;
    line-height:  120 px;
    height: 120px;
    width: 120px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(126, 101, 101);
    background-color: azure;
}
.Caja4{
    margin: 10px;
    text-align: center;
    line-height:  120 px;
    height: 120px;
    width: 120px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(126, 101, 101);
    background-color: azure;
}
.Caja5{
    margin: 10px;
    text-align: center;
    line-height:  120 px;
    height: 120px;
    width: 120px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(126, 101, 101);
    background-color: azure;
}
.Caja6{
    margin: 10px;
    text-align: center;
    line-height:  120 px;
    height: 120px;
    width: 120px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(126, 101, 101);
    background-color: azure;
}
.Caja7{
    margin: 10px;
    text-align: center;
    line-height:  120 px;
    height: 120px;
    width: 120px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(126, 101, 101);
    background-color: azure;
}
.Caja8{
    margin: 10px;
    text-align: center;
    line-height:  120 px;
    height: 120px;
    width: 120px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(126, 101, 101);
    background-color: azure;
}